<?xml version='1.0' encoding='utf-8'?>
<widget id="com.prototype.phonegap.jqm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>InfoRemorquageJqm</name>
    <description>
        Application prototype d'info-remorquage pour tester le développement hybride d'application mobile
    </description>
    <author email="stephane.lam@ville.montreal.qc.ca" href="http://ville.montreal.qc.ca">
        Ville de Montréal
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="Device">
    	<param name="android-package" value="org.apache.cordova.device.Device"/>
        <param name="ios-package" value="org.apache.cordova.device.Device" />
    </feature>

    <feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.camera.CameraLauncher"/>
    </feature>
    <feature name="Notification">
    	<param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
    </feature>

    <plugins>
    	<plugin name="Device" value="org.apache.cordova.Device"/>
    </plugins>

    



    <!-- iPhone / iPod Touch  -->
    <icon src="icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icon-76@2x.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icon-small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- Android Icon -->
    <icon src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <!-- Windows Icon -->
    <icon src="icon.png" gap:platform="winphone" />
    <icon src="tileicon.png" gap:platform="winphone" gap:role="background" />



    <!-- Splash Screen -->
    <gap:splash src="splash.png" />


    <!-- Listing plugins for Phonegap Build -->
    <gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.1" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.file" version="1.0.1" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />

    

</widget>
