<?xml version='1.0' encoding='utf-8'?>
<widget id="com.prototype.phonegap.jqm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>InfoRemorquageJqm</name>
    <description>
        Application prototype d'info-remorquage pour tester le développement hybride d'application mobile
    </description>
    <author email="stephane.lam@ville.montreal.qc.ca" href="http://ville.montreal.qc.ca">
        Ville de Montréal
    </author>
    <content src="index.html" />
    <access origin="*" />

    <feature name="Device">
    	<param name="android-package" value="org.apache.cordova.device.Device"/>
        <param name="ios-package" value="org.apache.cordova.device.Device" />
    </feature>

    <feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.camera.CameraLauncher"/>
    </feature>
    <feature name="Notification">
    	<param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
    </feature>

    <plugins>
    	<plugin name="Device" value="org.apache.cordova.Device"/>
    </plugins>

    

    <!-- Icon  -->
	<icon src="img/logo.png" />


    <!-- Listing plugins for Phonegap Build -->
    <gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.1" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.9" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />
    <gap:plugin name="org.apache.cordova.file" version="1.0.1" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.media-capture" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />

    

</widget>
